@import "../../../../css/common.scss";

:local {
  .time-block {
    margin-bottom: 5px;
    .time-title {
      margin-right: 10px;
      font-weight: bold;
    }
    .date {

    }
    .divider-line {

    }
    .time {

    }
  }
}
