/*
 * Theme Colors
 */

/* Seapunk */
// $dark-primary-color: #00796B;
// $default-primary-color: #009688;
// $light-primary-color: #B2DFDB;
// $text-primary-color: #FFFFFF;
// $button-text-color: #FFFFFF;
// $accent-color: #7C4DFF;
// $primary-text-color: #212121;
// $secondary-text-color: #757575;
// $divider-color: #BDBDBD;


/* Primmie */
$dark-primary-color:   #24221f;
$default-primary-color:#32491f;
$light-primary-color:  #d4cbc2;
$text-primary-color:   #d4cbc2;
$button-text-color:    #f2e8de;
$accent-color:         #a39281;
$primary-text-color:   #24221f;
$secondary-text-color: #6d695e;
$divider-color:        #6d695e;
