@import "../../../css/common.scss";

:local {
  .review-events {
    padding: 5vh 10vw;


    .header {
      color: $light-primary-color;
      text-align: center;
      font-size: 28px;
      margin-bottom: 20px;
    }
    .event {

    }
  }
}
